.main button {
    background-color: var(--clr-dark-green);
    color: var(--clr-lightest);
    border: var(--border-thin);
    border-radius: var(--border-radius-small);
    padding: 0.5rem 1.5rem;
    font-weight: 600;

    @media (hover: hover) {
        &:hover {
            opacity: 0.8;
        }
    }

    &[disabled] {
        pointer-events: none;
    }

    &.sort-button {
        display: flex;
        align-items: center;
        gap: 1rem;
        & svg {
            width: 2.4rem;
            height: 2.4rem;
            fill: var(--clr-light-green);
        }
    }
}
